

.search{
  width:80%
  padding:10px;
  font-size: 20px;
   float:right;
    margin-top:40px;
}

.submit{
  width: 40px;
  height: 27px;
   float:right;
    margin:40px 300px 0px 0px;
}
.Blåruta{

  width: 900px;
  height: 640px;
  background-color: #005059;

  float:left;
  border: 3px solid black;
}

.OrangerutaLäkare{
  width: 725px;
  height:80px;
  background-color: #d27700;
  float:left;
  padding:0px 0px 0px 40px;
  margin:0px 0px 0px 40px;
  border: 3px solid black;
  font-size: 30px;
  color:white;
  text-decoration:none;
}



.Svartbox{
  width: 725px;
  height: 5px;
  background-color: black;
  float:left;
  margin: 25px 0px 25px 40px;
}

.Vitbox{
  width: 600px;
  height: 5px;
  background-color: white;
  margin-left:40px;

}